:root {
  --background-color: #F0F2F5;
  --surface-color: #FFFFFF;
  --text-color: #333333;
  --accent-color: #333333; /* Black for checkboxes */
  --border-color: #E0E0E0;
  --primary-color: #333333; /* Black */
  --primary-color-dark: #1a1a1a; /* Darker black for hover */
}

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}