.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--surface-color);
  width: 100%;
  padding: 12px 24px;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  width: 115px;
}