@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins,sas;
    box-sizing: border-box;
}

ul{
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
    align-items: center;
}
svg{
    height: 30px;
    align-self: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    padding: 16px;
}
.logo{
    display: flex;
    width: 120px;
    margin:  8px 32px;
}
.left{
    margin:  8px 32px;
}
header, .intro{
    background-color: #1F2937;
    color: #E5E7EB;
}

.intro{
    display: flex;
    justify-content: center;

    padding: 100px 50px;
    background-color: #1F2937;
    gap: 32px;
}
.bmw{
    width: 600px;
}
h1{
    margin-bottom: 10px;
}
.info{
    max-width: 525px;
    font-weight: 400;
    font-size: 18px;
}

