/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.88);

    font-family: 'Poppins', sans-serif;
}

/* Page format */
body {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "add content"
        "footer footer";
}

/* Header */
h1 {
    text-align: center;
    padding: 20px 0;
    color: antiquewhite;

    background-color: saddlebrown;
}

.add {
    grid-area: add;
    display: flex;
    flex-direction: column;
    /* min-height: 100%;
    flex-grow: 1; */
    background-color: saddlebrown;
}

/* Add book section */
.add-form {
    display: flex;
    flex-direction: column;

}

label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 150px;
    text-align: left;
}

input {
    /* To make sure that all text fields have the same font settings
         By default, text areas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999999;
}

input:focus {
    /* Set the outline width and style */
    outline-style: solid;
    /* To give a little highlight on active elements */
    outline-color: black;
}

form>div {
    margin: 5px;
}

.details {
    max-width: 10%;
}