*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar {
  display: flex;

  align-items: center;
  justify-content: space-around;

  background-color: whitesmoke;
  
  width: 100vw;
  padding: 12px 24px;
  border-bottom: black 1.5px solid;
}

.logo{
    width: 115px;
}

.opener{
    color: black;
}

.load{
    color: black;
}

.container{
    color: black;
}