@font-face {
    font-family: "chirp";
    src: url("../assets/fonts/chirp-regular-web.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "chirp";
    src: url("../assets/fonts/chirp-medium-web.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "chirp";
    src: url("../assets/fonts/chirp-bold-web.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "chirp";
    src: url("../assets/fonts/chirp-heavy-web.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* GUTTERS */
body {
    margin: 0;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: "chirp", system-ui, sans-serif;
    font-weight: 400;

    display: grid;
    grid-template-columns: 1fr minmax(0, 1260px) 1fr;
}

/* MAIN BODY */
.container {
    grid-column: 2;

    display: grid;
    grid-template-columns: 240px 595px 1fr;
    grid-template-areas: "left center right";
    min-height: 100vh;
    /* padding: 10px 0; */
}

/* LEFT SECTION */
.left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-area: left;
    padding: 10px 0px;

    position: fixed;
}

.menu {
    display: flex;
    flex-direction: column;

    gap: 22px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 18px;

    font-size: 22px;
    font-weight: 300;
}

.menu-item>img,
.menu-item>svg {
    width: 28px;
    height: auto;
}

.left>button {
    font-family: inherit;
    font-weight: 700;


    padding: 4px 32px;
    width: 240px;
    height: 60px;
    border-radius: 30px;
    font-size: medium;
    font-weight: 600;
    padding: 4px;
    align-self: left;
    background-color: white;
    color: black;

    position: relative;
    right: 10px;
}

.left>.person {
    margin-bottom: 20px;
}

.dots {
    font-weight: 800;
}

/* CENTER SECTION */
.center {
    grid-area: center;
    border-right: 0.5px solid rgb(54, 59, 63);
    border-left: 0.5px solid rgb(54, 59, 63);

    display: grid;
    grid-template-rows: 60px auto;
    grid-auto-rows: auto;
}

.bar {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 2;

    background-color: black;

    grid-template-columns: 1fr 1fr;
    height: 60px;
    border-bottom: 1px solid rgb(54, 59, 63);
    align-items: center;
}

.feed-option {
    text-align: center;
}

.composer {
    border-bottom: 1px solid rgb(54, 59, 63);
    padding: 12px 16px;
}

.composer-top {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.composer-input {
    flex: 1;
    padding-top: 6px;
}

.composer-input textarea {
    width: 100%;
    min-height: 56px;
    line-height: 1.4;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: inherit;
}

.composer-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin-top: 12px;
    /* border-bottom: 1px solid rgb(54, 59, 63); */

    position: relative;
    bottom: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 14px;
    color: rgb(29, 155, 240);
}

.icons svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    cursor: pointer;
}

.post-btn {
    background: white;
    color: black;
    border: none;
    border-radius: 999px;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 15px;
    cursor: not-allowed;

    position: relative;
    bottom: 5px;
}

.post {
    padding: 12px 16px;
    display: flex;
    gap: 8px;

    border-bottom: 1px solid rgb(54, 59, 63);
    border-radius: 4px;
}

.text {
    display: grid;
    grid-template-columns: repeat(3, auto-fit);
    grid-template-rows: 18px 1fr;
    grid-template-areas: "username tag blank"
        "content content content";
    gap: 8px;
}

.name {
    grid-area: username;
    font-weight: 700;
    font-size: 16px;
}

.name-tag {
    grid-area: tag;
    color: rgb(108, 118, 127);
    font-weight: 400;
    font-size: 16px;
}

.content {
    grid-area: content;
}

.options {
    display: flex;

    margin-top: 16px;
    justify-content: space-between;

    gap: 8px;
    font-size: 12px;
    color: rgb(108, 118, 127);
}

.options>div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


.interact {
    width: 18px;
}

/* RIGHT SECTION */
.right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    padding: 10px 36px;
    gap: 20px;
}

.search>input {
    background-color: black;
    padding: 12px;
    width: 100%;
    border: 1px solid rgb(54, 59, 63);
    border-radius: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(54, 59, 63);
    border-radius: 12px;
    padding: 16px;
}

.card>h2 {
    font-weight: 800;
    margin-bottom: 8px;

    font-size: 20px;
}

.card>div {
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.842);
}

.subscribe {
    font-family: inherit;
    font-weight: 700;

    width: 100px;
    height: 35px;
    border-radius: 25px;
    font-size: medium;
    font-weight: 600;
    padding: 4px;
    align-self: left;
    background-color: rgb(29, 155, 240);
    color: white;
    border: 0px;
}

.today>div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.story {
    font-weight: 700;
}

.avatar-stack {
    display: flex;
    align-items: center;
}

.avatar-stack img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;

    border: 2px solid black;
    /* separates overlaps */
    margin-left: -8px;
    /* overlap amount */
}

.avatar-stack img:first-child {
    margin-left: 0;
}

.info {
    font-size: 13px;
    color: rgb(108, 118, 127);
}

.person {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user {
    font-weight: 700;
    font-size: 16px;
}

.tag {
    color: rgb(108, 118, 127);
    font-weight: 400;
    font-size: 16px;
}

.pfp {
    width: 48px;
    height: 48px;
    border-radius: 50%;

    object-fit: cover;
}