@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,html{
  overflow-y: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.main {
  display: flex;
  flex: 1;
  min-height: 0;
  max-width: 100%;
}


.container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;

  gap: 10px;
  padding: 8px;
  flex: 1;
  height: 93.1vh;
  background-color: rgba(1, 1, 110, 0.373);
  border: 4px double rgba(173, 216, 230, 0.853);

  overflow-y: scroll;
}

.load{
  width: 100vw;
  height: 100vh;
}

.post{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(0, 0, 50, 0.764);
  
  padding: 8px;
  border-radius: 8px;
}

.title{
  color: rgba(255, 127, 80, 0.866);
}

.user{
  margin-top: auto;
  margin-left: auto;
  color: coral;
  font-weight: 500;
}
