* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 18px;
  height: 100%;
  width: 250px;

  background-color: rgba(0, 0, 50, 0.764);
  color: coral;
  border: 4px double rgba(173, 216, 230, 0.853);
  text-align: center;
}

.side-item {
  list-style: number;
  font-size: 16px;
}

.filter {
  color: rgba(240, 248, 255, 0.908);
}
